# Python
__pycache__
*.pyc
*.pyo
*.pyd
/backend/.env
/backend/.venv
/backend/upload/
/backend/output/
*.db
backend/core
backend/ocr/core
*.core
*.dump
*.bin
*.pth
*.pt
*.ckpt
# big File
/model/
/frontend/node_modules
/frontend/public/standard

*.tar.gz
*.tar
/conda_pkg